

    <div>
        <div class="page-info">
            <div class="wrap">
                <ul>
                    <li>
                        <a href="/">홈 ></a>
                    </li>
                    <li>
                        <a href="/introduction">회사소개 ></a>
                    </li>
                    <li>
                        <a href="/introduction">인사말</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--/서브페이지 공통-->
        <div class="wrap">
            <!--좌측 메뉴-->
            <div class="sidebar">
                <p>회사소개</p>
                <ul>
                    <li>
                        <a href="/introduction">인사말</a>
                    </li>
                    <li>
                        <a href="/outline">오시는 길</a>
                    </li>
                </ul>
            </div>
            <!--/좌측 메뉴-->
            <div class="contents">
                <img src="img/mc-introduction.png" alt="인사말">
            </div>


        </div>
</div>