
<script>
    function btn_click1() {
        window.location.href = "/noticeList";

    };
    function btn_click2() {
        var url = window.location.href;
        var id = url.indexOf('?');
        var send = url.slice(id + 4);
        window.location.href="/noticeModification?id="+send;

    };
    function btn_click3() {
        if(confirm("삭제 하시겠습니까?")){
        var url = window.location.href;
        var id = url.indexOf('?');
        var send = url.slice(id + 4);
        alert("삭제 하였습니다.");
        $.post('/deleteboard3', {id: send}, function (data) {
            window.location.href="/noticeList";
        });
        }
    };
</script>

<script>
    $(document).ready(function () {
        if (sessionStorage.getItem('name') == null || sessionStorage.getItem('name') == '') {
            $('#listsee1').append("<button type='button' onclick='btn_click1()' class='btn btn-edit'>목록</button>");
        } else {
            $('#listsee1').append("<button type='button' style='margin-right: 5px;' onclick='btn_click1()' class='btn btn-edit'>목록</button>");
            $('#listsee1').append("<button type='button' style='margin-right: 5px;' onclick='btn_click2()' class='btn'>수정</button>");
            $('#listsee1').append("<button type='button' onclick='btn_click3()' class='btn btn-del'>삭제</button>");
        }
    });

    $(document).ready(function () {
        var title = document.getElementById('title');
        var content = document.getElementById('content');
        var id2 = document.getElementById('id');
        var url = window.location.href;
        var id = url.indexOf('?');
        var send = url.slice(id + 4);
        $.post('/getboard3', {id: send}, function (data) {
            var message = data.sending[0];
            $("#title").append(message.title);
            content.value = message.content;
            id2.value = message.id;
            var up = [];
            existExtArray = message.file.split('*');
            for (var i=0; i < existExtArray.length-1; i++) {
                var j = existExtArray[i].substring(91);
                $("#download").append("<button class='btn' type='submit' id='up"+i+"' name='up'>"+j+"</button><br/> ");
                up[i] = document.getElementById('up'+i);
                up[i].value = existExtArray[i];
            }
        });


    });
</script>



<div class="page-info">
    <div class="wrap">
        <ul>
            <li>
                <a href="/">홈 ></a>
            </li>
            <li>
                <a href="#">공지사항</a>
            </li>
        </ul>
    </div>
</div>
<!--/서브페이지 공통-->
<div class="wrap">
    <div class="contents">
        <h2><span>|</span> 공지사항</h2>
        <table class="table">
            <tr><th style="width:150px;" for="nTitle">제목</th><td id="title"></td></tr>
            <tr><th style="width:150px;" for="nDetail">내용</th><td><textarea rows="12" class="form-control" readonly="readonly" id="content"></textarea></td></tr>
            <tr><th style="width:150px;" for="nDetail">첨부파일</th><td>
                <input type="hidden" id="id">
                <form action="/download"  method="post" >
                    <div id="download"></div>
                </form>
            </td></tr>
        </table>

        <div style="float:right; margin-top:15px;" id="listsee1">
            <!--<button type="button" class="btn btn-edit">목록</button>
            <button type="button" class="btn">수정</button>
            <button type="button" class="btn btn-del">삭제</button>-->
        </div>
    </div>
</div>