

<script>
    function btn_click1(){

        var i=0;
        if ($("#title").val() == "") {
            i=1;
            alert('제목을 입력해주세요.');
            $("#title").focus();
            return;
        }

        if ($("#content").val() == "") {
            i=1;
            alert('내용을 입력해주세요.');
            $("#content").focus();
            return;
        }

        if(i!=1);
        {
            /*           $("#used").submit();
             */
            document.a.submit();

        }
        /*window.location.href="/notice_List11";*/
    }
</script>


<script>
    var noticeList= function(){
        location.href="/noticeList";
    }
</script>
<script>
    var fileCount = 1;
    var fileNameCount = 1;
    var addFormCount = 20;


    function selectFile(thisObj, value) {
        var addedFormList = document.getElementById("addedFormListDiv");
        var ua = window.navigator.userAgent;
        //파일업로드 금지 파일 추가 html,htm,jsp,js,asp,aspx,css,
        /*        if (!/(\.gif|\.jpg|\.jpeg|\.png)$/i.test(thisObj.value)) {
         alert("이미지 형식의 파일을 선택하십시오");
         //폼 초기화
         document.getElementById(value).outerHTML = document.getElementById(value).outerHTML;
         return;
         }*/

        var ary = thisObj.value.split('\\');
        var fileName = ary[ary.length - 1];
        var filePath = thisObj.value.replace(/\\/gi, "&");


        /*     if(document.getElementById(value+"LIST")!=undefined){   //기존선택한걸 선택할때
         addedFormList.removeChild(document.getElementById(value+"LIST"));
         }else{    */

        if (fileCount > addFormCount) {
            alert("업로드는 " + addFormCount + "개 이상 할 수 없습니다" + value);
            document.getElementById(value).outerHTML = document.getElementById(value).outerHTML;
            return;
        }

        document.getElementById(value).style.display = "none";
        addForm();


        /*if (ua.indexOf("MSIE") > -1) {//ie일때

         str = "<a href='javascript:del(" + value + ")'>삭제</a> " + fileName + "  <a href='javascript:addLink('" + filePath + "')'>본문에넣기</a> ";
         } else {
         str = "<a href='javascript:del(" + value + ")'>삭제</a> " + fileName;
         }*/
        str = "<a href='javascript:del(" + value + ")'>삭제</a> " + fileName;
        var addFileList = document.createElement("div"); // 폼 생성

        addFileList.id = value + "LIST"; // 폼 Div에 ID 부 여 (삭제를 위해)
        addFileList.innerHTML = str; // 폼 Div안에 HTML삽입
        addedFormList.appendChild(addFileList); // 삽입할 DIV에 생성한 폼 삽입

    }

    function addForm() {

        var addedForxsiv = document.getElementById("addedForxsiv");

        var date = new Date();
        var file = date.getTime();

        var str = "";

        str = "<input type=file id=" + fileNameCount + " name=file" + "[" + fileNameCount + "]" + " onChange='javascript:selectFile(this," + fileNameCount + ")'>";


        var addedDiv = document.createElement("div"); // 폼 생성
        addedDiv.id = "div" + fileNameCount; // 폼 Div에 ID 부 여 (삭제를 위해)
        addedDiv.innerHTML = str; // 폼 Div안에 HTML삽입

        var dd = document.getElementById(fileCount);

        addedForxsiv.appendChild(addedDiv); // 삽입할 DIV에 생성한 폼 삽입

        //style="position:absolute; opacity:0;"
        //이전폼값을 지운다

        fileNameCount = fileNameCount + 1;
        fileCount = fileCount + 1;
        /*             if (fileCount>1){
         alert("1111");
         } */
    }
    function del(value) {

        var addedForxsiv = document.getElementById("addedForxsiv");
        var addedDiv = document.getElementById("div" + value);

        var addedFormList = document.getElementById("addedFormListDiv");

        addedForxsiv.removeChild(addedDiv); // 폼 삭제

        if (document.getElementById("addedForxsiv").childNodes.length == 0) {
            addForm();

        }
        /*   if(fileCount==1){
         addedFormList.removeChild(document.getElementById("fileinput"+"LIST"));
         fileCount = fileCount-1;
         }else{ */
        addedFormList.removeChild(document.getElementById(value + "LIST"));
        fileCount = fileCount - 1;

    }

    $('#used').on('submit', function (event) {
        $('#used').submit();
    });
    $('#reqList').on('submit', function (event) {
        $('#reqList').submit();
    });
    var chkout = function () {
        sessionStorage.setItem('name', '');
        sessionStorage.setItem('role', '');
        history.back();
    };
    $(document).ready(function () {
        var title = document.getElementById('title');
        var content = document.getElementById('content');
        var id2 = document.getElementById('id2');
        var url = window.location.href;
        var id = url.indexOf('?');
        var send = url.slice(id + 4);
        $.post('/getboard3', {id: send}, function (data) {
            var message = data.sending[0];
            title.value = message.title;
            content.value = message.content;
            id2.value = message.id;
            var up = [];
            existExtArray = message.file.split('*');
            for (var i=0; i < existExtArray.length-1; i++) {
                var j = existExtArray[i].substring(91);
                $("#addedFormListDiv").append("<div id='old"+i+"'><a href='javascript:olddel("+i+")'>삭제</a>"+j+"" +
                "<input class='hidden' value='"+existExtArray[i]+"' name='oldimg["+(i+1)+"]'></div> ");
                /*up[i] = document.getElementById('up'+i);
                up[i].value = existExtArray[i];*/
            }
        });
    });




    function olddel(value) {
        var addedForxsiv = document.getElementById("addedFormListDiv");
        var addedDiv = document.getElementById("old" + value);

        var addedFormList = document.getElementById("addedFormListDiv");

        addedForxsiv.removeChild(addedDiv); // 폼 삭제

        fileCount = fileCount - 1;

    }


</script>






<div class="page-info">
    <div class="wrap">
        <ul>
            <li>
                <a href="/">홈 ></a>
            </li>
            <li>
                <a href="#">공지사항</a>
            </li>
        </ul>
    </div>
</div>
<!--/서브페이지 공통-->
<div class="wrap">
    <div class="contents">
        <h2><span>|</span> 공지사항</h2>
        <form role="form" id="used" action="/updateboard3" enctype="multipart/form-data" method="post" name="a">
            <input type="hidden" name="oldimg[0]" value="1111">
            <input type="hidden" class="form-control input-sm" name="id2" id="id2"/>
            <table class="table">
                <tr><th style="width:150px;" for="title">제목</th><td><input type="text" class="form-control" name="title" id="title"></td></tr>
                <tr><th style="width:150px;" for="content">내용</th><td><textarea class="form-control" rows="10" name="content" id="content"></textarea></td></tr>
                <tr><th style="width:150px;" for="nDetail">첨부파일</th><td>

                    <div id="addedForxsiv">
                        <div id="div0">
                            <input type="File" name="file[0]" id="0"
                                   onchange="selectFile(this,this.id);">
                        </div>
                    </div><br>
                    <div id="addedFormListDiv"></div>

                </td></tr>
            </table>
        </form>
        <div style="float:right; margin-top:15px;">
            <button type="button" onclick="noticeList();" class="btn btn-edit">목록</button>
            <button type="button" onclick="btn_click1()" class="btn btn-rg">등록</button>
        </div>
    </div>
</div>