<footer>
    <div class="wrap">
        <ul class="foot-ul">
            <li>
                <a href="/New_productList?category1_code=02&category2_code=01">TSUGAMI</a><span class="divider">/</span>
            </li>
            <li>
                <a href="/New_productList?category1_code=03&category2_code=01">두산인프라코어</a><span class="divider">/</span>
            </li>
            <li>
                <a href="/New_productList?category1_code=13&category2_code=01">CNC선반</a><span class="divider">/</span>
            </li>
            <li>
                <a href="/New_productList?category1_code=03&category2_code=04">보링머신</a><span class="divider">/</span>
            </li>
            <li>
                <a href="/New_productList?category1_code=03&category2_code=04">복합기</a><span class="divider">/</span>
            </li>
            <li>
                <a href="/New_productList?category1_code=03&category2_code=05">와이어컷팅</a><span class="divider">/</span>
            </li>
            <li>
                <a href="/New_productList?category1_code=03&category2_code=10">범용선반</a><span class="divider">/</span>
            </li>
            <li>
                <a href="/New_productList?category1_code=04&category2_code=01">범용밀링</a><span class="divider">/</span>
            </li>
            <li>
                <a href="/New_productList?category1_code=04&category2_code=03">레디알</a><span class="divider">/</span>
            </li>
            <li>
                <a href="/New_productList?category1_code=04&category2_code=04">성형연삭기</a><span class="divider">/</span>
            </li>
        </ul></div>
    <div class="wrap" style="margin-top:30px;">
        <p>
            와이머신 Ι 대표자명 : 이인영 Ι 연락처 : 031) 8041-8245 Ι 팩스번호 : 031) 8041-8246
            <br>
            회사주소 : 경기도 시흥시 오이도로 21, 205(정왕동,스틸랜드에스비센타) Ι 사업자번호 : 140-81-82726
            <br>
            copyright (c) 2014 와이머신 ALL RIGHTS RESERVED.P: 070-8857-7889</p>
    </div>
</footer>

<div class="quick_menu">
    <p>공작기계</p>
    <ul>
        <a href="/New_productList?category1_code=02&category2_code=01"><li class="list-group-item">
            TSUGAMI
        </li></a>
        <a href="/New_productList?category1_code=03&category2_code=01"><li class="list-group-item">
            두산인프라코어
        </li></a>
        <a href="/New_productList?category1_code=04&category2_code=01"><li class="list-group-item">
            신제품 기타
        </li></a>
        <a href="/Old_productList?category1_code=12&category2_code=01"><li class="list-group-item">
            중고기계목록
        </li></a>
        <a href="/Old_productList?category1_code=13&category2_code=01"><li class="list-group-item">
            CNC선반
        </li></a>
        <a href="/Old_productList?category1_code=12&category2_code=01"><li class="list-group-item">
            추천매물
        </li></a>

    </ul>
    <p>금융리스</p>
    <ul>
        <a href="#" onclick="click1()" ><li class="list-group-item">
            리스금융
        </li></a>
        <a href="#" onclick="click2()" ><li class="list-group-item">
            할부금융
        </li></a>
        <a href="#" onclick="click3()" ><li class="list-group-item">
            금융컨설팅
        </li></a>
        <a href="#" onclick="click4()" ><li class="list-group-item">
            개인운전자금
        </li></a>
    </ul>
</div>
<p class="k-fixed"><a href="#" onclick="y_click(); return false;"><img src="img/btn-banner.png"></a></p>
<script>
    function click111(){
        window.open('http://ylease.co.kr/');
    }
    function click1(){
        window.open('http://ylease.co.kr/business21');
    }
    function click2(){
        window.open('http://ylease.co.kr/business22');
    }
    function click3(){
        window.open('http://ylease.co.kr/business24');
    }
    function click4(){
        window.open('http://ylease.co.kr/business22');
    }
    function y_click(){
        window.open('http://ylease.co.kr');
    }

</script>

<!--
<div>
<a href="#" onclick="click111()" ><img src="img/btn-banner.png" alt="배너" data-spy="affix"  class="affix" style="top:50%; right:7%;"></a>

<div  class="affix" data-spy="affix"  style="width:123px; bottom:10px; left:0; z-index:0; ">
    <div class="panel panel-default quick">
        &lt;!&ndash; Default panel contents &ndash;&gt;
        <div class="panel-heading">
            공작기계
        </div>
        &lt;!&ndash; List group &ndash;&gt;
        <ul class="list-group">
            <a href="/New_productList?category1_code=01&category2_code=01"><li class="list-group-item">
                TSUGAMI
            </li></a>
            <a href="/New_productList?category1_code=02&category2_code=05"><li class="list-group-item">
                두산인프라코어
            </li></a>
            <a href="/New_productList?category1_code=03&category2_code=10"><li class="list-group-item">
                신제품 기타
            </li></a>
            <a href="/Old_productList?category1_code=02&category2_code=05"><li class="list-group-item">
                중고기계목록
            </li></a>
            <a href="/Old_productList?category1_code=03&category2_code=07"><li class="list-group-item">
                CNC선반
            </li></a>
            <a href="/Old_productList?category1_code=02&category2_code=05"><li class="list-group-item">
                추천매물
            </li></a>
            &lt;!&ndash;<a href="/Old_productList"><li class="list-group-item">
                현장 실 사용매물
            </li></a>&ndash;&gt;
        </ul>
        <div class="panel-heading">
            금융리스
        </div>
        &lt;!&ndash; List group &ndash;&gt;
        <ul class="list-group">
            <a href="#" onclick="click1()" ><li class="list-group-item">
                리스금융
            </li></a>
            <a href="#" onclick="click2()" ><li class="list-group-item">
                할부금융
            </li></a>
            <a href="#" onclick="click3()" ><li class="list-group-item">
                금융컨설팅
            </li></a>
            <a href="#" onclick="click4()" ><li class="list-group-item">
                개인운전자금
            </li></a>
        </ul>
    </div>
</div>


<div class="footer-wrapper">
    <div class="container">
        <div class="col-xs-12 column">
            <ul class="breadcrumb text-center">
                <li>
                    <a href="/New_productList?category1_code=01&category2_code=01">TSUGAMI</a><span class="divider">/</span>
                </li>
                <li>
                    <a href="/New_productList?category1_code=02&category2_code=05">두산인프라코어</a><span class="divider">/</span>
                </li>
                <li>
                    <a href="/New_productList?category1_code=02&category2_code=06">CNC선반</a><span class="divider">/</span>
                </li>
                <li>
                    <a href="/New_productList?category1_code=02&category2_code=07">보링머신</a><span class="divider">/</span>
                </li>
                <li>
                    <a href="/New_productList?category1_code=02&category2_code=08">복합기</a><span class="divider">/</span>
                </li>
                <li>
                    <a href="/New_productList?category1_code=02&category2_code=09">와이어컷팅</a><span class="divider">/</span>
                </li>
                <li>
                    <a href="/New_productList?category1_code=03&category2_code=10">범용선반</a><span class="divider">/</span>
                </li>
                <li>
                    <a href="/New_productList?category1_code=03&category2_code=11">범용밀링</a><span class="divider">/</span>
                </li>
                <li>
                    <a href="/New_productList?category1_code=03&category2_code=12">레디알</a><span class="divider">/</span>
                </li>
                <li>
                    <a href="/New_productList?category1_code=03&category2_code=13">성형연삭기</a><span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 column">
            <address class="text-center">
                <strong>와이머신</strong> &Iota; 대표자명 : 이인영  &Iota; 연락처 : 031) 8041-8245  &Iota; 팩스번호 : 031) 8041-8246
                <br />
                회사주소 : 경기도 시흥시 오이도로 21, 205(정왕동,스틸랜드에스비센타) &Iota; 사업자번호 : 140-81-82726
                <br />
                copyright (c) 2014 와이머신 ALL RIGHTS RESERVED.<abbr title="Phone">P:</abbr> 070-8857-7889
            </address>
        </div>
    </div>
</div>
</div>
<script>
    function click111(){
                window.open('http://ylease.co.kr/');
    }
    function click1(){
                window.open('http://ylease.co.kr/business21');
    }
    function click2(){
                window.open('http://ylease.co.kr/business22');
    }
    function click3(){
                window.open('http://ylease.co.kr/business24');
    }
   function click4(){
            window.open('http://ylease.co.kr/business22');
    }
</script>
-->
