<div class="page-info">
    <div class="wrap">
        <ul>
            <li>
                <a href="/">홈 ></a>
            </li>
            <li>
                <a href="#">sitemap</a>
            </li>
        </ul>
    </div>
</div>
<!--/서브페이지 공통-->
<div class="wrap">
    <!--좌측 메뉴-->
    <div class="sidebar">
        <p>
            회사소개
        </p>
        <ul>
            <li>
                <a href="introduction">인사말</a>
            </li>
            <li>
                <a href="outline">오시는길</a>
            </li>
        </ul>
    </div>
    <div class="sidebar">
        <p>
            신제품 소개
        </p>
        <ul>
            <li>
                <a href="/New_productList?category1_code=02&category2_code=01">TSUGAMI</a>
            </li>
            <li>
                <a href="/New_productList?category1_code=02&category2_code=02">머시닝센터</a>
            </li>
            <li>
                <a href="/New_productList?category1_code=03&category2_code=02">CNC선반</a>
            </li>
            <li>
                <a href="/New_productList?category1_code=03&category2_code=03">보링머신</a>
            </li>
            <li>
                <a href="/New_productList?category1_code=03&category2_code=04">복합기</a>
            </li>
            <li>
                <a href="/New_productList?category1_code=03&category2_code=05">와이어컷팅</a>
            </li>
            <li>
                <a href="/New_productList?category1_code=04&category2_code=01">범용선반</a>
            </li>
            <li>
                <a href="/New_productList?category1_code=04&category2_code=02">범용밀링</a>
            </li>
            <li>
                <a href="/New_productList?category1_code=04&category2_code=03">레디알</a>
            </li>
            <li>
                <a href="/New_productList?category1_code=04&category2_code=04">성형연삭기</a>
            </li>
        </ul>
    </div>
    <div class="sidebar">
        <p>
            중고제품
        </p>
        <ul>

            <li>
                <a href="/Old_productList?category1_code=12&category2_code=01">머시닝센터</a>
            </li>
            <li>
                <a href="/Old_productList?category1_code=13&category2_code=01">CNC선반</a>
            </li>
            <li>
                <a href="/Old_productList?category1_code=14&category2_code=00">범용선반</a>
            </li>
            <li>
                <a href="/Old_productList?category1_code=15&category2_code=00">범용밀링</a>
            </li>
            <li>
                <a href="/Old_productList?category1_code=16&category2_code=00">CNC밀링</a>
            </li>
            <li>
                <a href="/Old_productList?category1_code=17&category2_code=00">연마기</a>
            </li>
            <li>
                <a href="/Old_productList?category1_code=18&category2_code=00">방전기</a>
            </li>
            <li>
                <a href="/Old_productList?category1_code=19&category2_code=00">기타</a>
            </li>
        </ul>
    </div>
    <div class="sidebar">
        <p>
            고객문의
        </p>
        <ul>

            <li>
                <a href="/customerWrite">고객문의</a>
            </li>

        </ul>
    </div>
    <div class="sidebar">
        <p>
            중고장비문의
        </p>
        <ul>

            <li>
                <a href="/oldOrderwrite">중고장비문의</a>
            </li>

        </ul>
    </div>
    <div class="sidebar">
        <p>
            공지사항
        </p>
        <ul>

            <li>
                <a href="/noticeList">공지사항</a>
            </li>

        </ul>
    </div>
</div>